{% extends "_base.html" %} {% block content %}
<div class="container">
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 py-3">
            {% include "course/_partials/_course_card.html" %}
        </div>
    
        {% empty %}
        <div class="col-12 py-3">
            <p class="text-danger">Sorry, No courses are available.</p>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{% url 'course:add-course' %}"><button class="btn btn-primary"> Add Course </button> </a>  
{% endblock %}