{% extends "_base.html" %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="d-none d-md-block col-md-4 col-lg-4 col-xl-3 px-0">
            <div class="shadow-sm bg-white">
                <div class="py-5"
                    style="background: url('{{ course.picture.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
                    <div class="py-5"></div> <!-- bg_url changes-->
                </div>
                <div class="container py-3">
                    <h3 class="">{{ course.title }}</h3> <!-- this changes-->
                    <hr>

                    <a class="btn btn-success" href="{% url 'course:add-episode' course.slug %}">Add Episode</a> <!-- href changes-->
                    <div id="accordion-1">
                        {% for episode in course.episodes.all %}
                        <div class="card my-3">
                            <div class="card-header bg-custom-secondary text-white"
                                id="headingOne-episode-{{episode.id}}" data-toggle="collapse"
                                data-target="#collapse-episode-{{episode.id}}" aria-expanded="false"
                                aria-controls="collapse-episode-{{episode.id}}">
                                <h6 class="mb-0">
                                    {{ episode.title }}
                                </h6>
                            </div>

                            <div id="collapse-episode-{{episode.id}}" class="collapse"
                                aria-labelledby="headingOne-episode-{{episode.id}}" data-parent="#accordion-1">
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                        {% for step in episode.steps.all %}
                                        <li class="py-2">{{ step.title }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ episode.get_absolute_url }}" class="btn btn-secondary">Go to episode</a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-12 py-3">
                            <p class="text-danger">Sorry, No episodes are available.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


<!-- This section works on small devices or small screens -->
        <div class="d-block d-md-none col-md-4 col-lg-3 px-0">
            <div class="shadow-sm bg-white">
                <div class="py-5"
                    style="background: url('{{ course.picture.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;"> <!-- url changes but does the same job-->
                    <div class="py-5"></div>
                </div>
                <div class="container py-3">
                    <div class="d-flex flex-row justify-content-between pb-2">
                        <h3 class="">{{ course.title }}</h3> <!-- this changes but does the same job-->
                        <!-- this should be implimented to work as a side nav in the main nav -->
                        <a class="ml-3 btn bg-custom-secondary text-white" data-toggle="collapse"
                            href="#collapse-course-nav" role="button" aria-expanded="false"
                            aria-controls="collapse-course-nav">
                            Nav
                        </a>
                    </div>

                    <div class="collapse pt-3" id="collapse-course-nav">
                        <a class="btn btn-success" href="{% url 'course:add-episode' course.slug %}">Add Episode</a> <!-- url changes but does the same job-->
                        <div id="course-accordion-2">
                            {% for episode in course.episodes.all %} <!-- this changes but does the same job-->
                            <div class="card my-3">
                                <div class="card-header bg-custom-secondary text-white"
                                    id="headingOne-2-episode-{{episode.id}}" data-toggle="collapse"
                                    data-target="#collapse-2-episode-{{episode.id}}" aria-expanded="false"
                                    aria-controls="collapse-2-episode-{{episode.id}}">
                                    <h6 class="mb-0">
                                        {{ episode.title }}
                                    </h6>
                                </div>

                                <div id="collapse-2-episode-{{episode.id}}" class="collapse"
                                    aria-labelledby="headingOne-2-episode-{{episode.id}}" data-parent="#course-accordion-2">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            {% for step in episode.steps.all %}
                                            <li class="py-2">{{ step.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <a href="{{ episode.get_absolute_url }}" class="btn btn-secondary">Go to episode</a>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="col-12 py-3">
                                <p class="text-danger">Sorry, No episodes are available.</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 col-lg-9">
<!-- This section describes the sub-nav: We can implement React if necessary -->
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#">Courses</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-7">
                    <div class="text-right upgrade-btn">
                        <a href="#" class="btn btn-danger text-white" target="_blank">Upgrade to Pro</a>
                    </div>
                </div>
            </div>

            {% block course_details_or_episodes %}

            {% endblock %}
             
        </div>
    </div>
</div>
{% endblock %}