# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media
venv/*
venv/
venv
*/venv/
media/*
.env/
env/*
env
*/__pycache__/*
*/__pycache__
